header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+45,e1e1e1+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 45%, #e1e1e1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 45%,#e1e1e1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 45%,#e1e1e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
border-bottom: 1px solid #d8d8d8;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: auto;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header ul li a {
    display: flex;
    height: 115px;
    width: 115px;
    align-items: center;
    border-left: 1px solid #d8d8d8 transparent; 
    border-right: 1px solid #d8d8d8 transparent;
}

header ul li a i, header ul li a i span{
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
}

header ul li a i {
    font-size: 22px;
    color: black;
}

header ul li a.active, header ul li a:hover {
    border-left: 1px solid #d8d8d8; 
    border-right: 1px solid #d8d8d8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+0,e6e2e2+45,ccc3c3+100 */
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #e6e2e2 45%, #ccc3c3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#e6e2e2 45%,#ccc3c3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fdfdfd 0%,#e6e2e2 45%,#ccc3c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ccc3c3',GradientType=0 ); /* IE6-9 */
}

header ul li a.activ::before, header ul li a:hover::before{
    content: "";
    background: #ff7d00;
    height: 5px;
    width: 117px;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-bottom: 1px solid #cc6400; 
}

header ul li {
    position: relative;
}

#load-image {
    max-width: 680px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.file-name {
    max-width: 450px;
    width: 100%;
    height: 48px;
    border: 1px solid #cacaca;
    box-shadow: inset 0px 3px 3px #00000040;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

#load-image h3{
    width: 100%;
    color: #565555;
    margin: 40px 0 35px 0;
    font: bold 28px arial;
}

.file-name span {
    margin-right: 10px;
    width: 95px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background:#c1bfbf;
    
    color:#fff;
    font-size: 20px;
}

#load-image button {
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ffa300; /* Old browsers */
    background: -moz-linear-gradient(top, #ffa300 0%, #ff7f00 65%, #ff7f00 73%, #ff6a00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffa300 0%,#ff7f00 65%,#ff7f00 73%,#ff6a00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffa300 0%,#ff7f00 65%,#ff7f00 73%,#ff6a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa300', endColorstr='#ff6a00',GradientType=0 ); /* IE6-9 */
    padding: 0;
    border: 0px;
    outline: none;
    font: bold 24px arial;
    color:#fff;
    margin-left: 15px;
}

#load-image button:active {
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fe6a00; /* Old browsers */
    background: -moz-linear-gradient(top, #fe6a00 0%, #ff8300 35%, #ffa000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fe6a00 0%,#ff8300 35%,#ffa000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fe6a00 0%,#ff8300 35%,#ffa000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6a00', endColorstr='#ffa000',GradientType=0 ); /* IE6-9 */
    padding: 0;
    border: 0px;
    outline: none;
    font: bold 24px arial;
    color:#fff;
    margin-left: 15px;
}

.file-name span, .file-name, #load-image button{
border-radius: 4px;
}

#images{
    margin: 55px -20px 30px -20px;
    display: flex;
    flex-wrap: wrap;

}


.image-block{
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    
}

.image-block h3{
    font-size: 14px;
    color: #979393;
    height: 22px;
    line-height: 22px;
    margin: 10px 0 5px 0;
}

.image-block h3 i{
    float: right;
    background: #ff8500;

    }

.image-block img{
    width: 100%;
}


.img-wrap{
    box-shadow: 0 0 7px 1px #0000003d;
    border: 1px solid #d6d6d6;
    padding: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,b5b5b5+94&0+89,0.52+94 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(185,185,185,0) 89%, rgba(181,181,181,0.52) 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(185,185,185,0) 89%,rgba(181,181,181,0.52) 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(185,185,185,0) 89%,rgba(181,181,181,0.52) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#85b5b5b5',GradientType=0 ); /* IE6-9 */
position: relative;
}

.image-block p{
    margin: 0 0 10px 0;
    border-top: 1px solid #e0dfdf;
    text-align: right;
    padding-top: 5px;
    color: #b1aeae;
    
}


.image-block p i, .image-block h3 i {
   
    height:22px;
    width: 22px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 22px;
    float: right;

}

.image-block p i {
    background: #b1aeae;
    transition: .8s;

}

.image-block p i:hover{
    background: #283e8f;
}

.image-block p i:last-child{
    margin-left: 15px;
}


footer.container{
    text-align: right;
    color: #8b8a8a;
    margin-bottom: 15px;
}

.img-wrap:hover::before {
    content: "\f00e";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 43%;
    top: 27%;
    color:#e6edf5;
    font-size:50px;
    opacity:0.7;
}


@media(max-width:1020px)
{
    #images {
        margin: 55px 0px 30px 0px;
    }

}



@media(max-width:950px)
{
    #images .image-block {
       width: 33.33%;
    }

}

@media (max-width:770px)
{
    header .container {
        justify-content: center;
    }

}

@media (max-width:720px)
{
    #images .image-block {
        width: 50%;
     }

}

@media (max-width:680px)
{
    header .container {
        justify-content: center;
    }

    #load-image {
        padding: 0 15px;
    } 
    header{
        padding: 15px 15px 0 15px ;
    }

    #load-image h3 {
        text-align: center;

    }

    #load-image button{
        margin-top: 15px;
    }
}

@media (max-width:480px)
{
    #images .image-block {
        width: 100%;
     }

}
